In [1]:
import pandas as pd

In [2]:
original_data = pd.read_csv('aug_train.csv')

In [21]:
original_data.shape

(19158, 14)

In [3]:
original_data.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [4]:
#Verifying if there is missing data in the target column
original_data.target.value_counts()

0.0    14381
1.0     4777
Name: target, dtype: int64

In [5]:
#Analyzing if the fact of being men or women influences in the decision of looking for a job
original_data.gender.value_counts()

Male      13221
Female     1238
Other       191
Name: gender, dtype: int64

In [6]:
#What is the proportion of People who declared their gender as 'Female' that want to change their jobs
total_women = original_data.loc[original_data['gender'] == 'Female'].shape[0]
total_women_want_to_change_jobs = original_data.loc[(original_data['gender'] == 'Female') & (original_data['target'] == 1.0)].shape[0]
print('From '+str(total_women)+' women '+str(total_women_want_to_change_jobs)+' want to change their jobs. Resulting in a proportion of '+str((total_women_want_to_change_jobs/total_women)*100)+' %')

From 1238 women 326 want to change their jobs. Resulting in a proportion of 26.33279483037157 %

In [7]:
#What is the proportion of People who declared their gender as 'Male' that want to change their jobs
total_men = original_data.loc[original_data['gender'] == 'Male'].shape[0]
total_men_want_to_change_jobs = original_data.loc[(original_data['gender'] == 'Male') & (original_data['target'] == 1.0)].shape[0]
print('From '+str(total_men)+' men '+str(total_men_want_to_change_jobs)+' want to change their jobs. Resulting in a proportion of '+str((total_men_want_to_change_jobs/total_men)*100)+' %')

From 13221 men 3012 want to change their jobs. Resulting in a proportion of 22.781937826185615 %

In [8]:
#What is the proportion of People who declared their gender as 'Other' that want to change their jobs
total_other = original_data.loc[original_data['gender'] == 'Other'].shape[0]
total_other_want_to_change_jobs = original_data.loc[(original_data['gender'] == 'Other') & (original_data['target'] == 1.0)].shape[0]
print('From '+str(total_other)+' men '+str(total_other_want_to_change_jobs)+' want to change their jobs. Resulting in a proportion of '+str((total_men_want_to_change_jobs/total_men)*100)+' %')

From 191 men 50 want to change their jobs. Resulting in a proportion of 22.781937826185615 %

In [22]:
#Check if there are blank or missing values in Has Relevant Experience column
original_data.relevent_experience.value_counts(dropna=False)

Has relevent experience    13792
No relevent experience      5366
Name: relevent_experience, dtype: int64

In [10]:
#What is the percentage of people that want to change their jobs and also Have relevante experience
total_has_relevant_experience = original_data.loc[original_data['relevent_experience'] == 'Has relevent experience'].shape[0]
total_has_experience_and_want_to_change_jobs = original_data.loc[(original_data['relevent_experience'] == 'Has relevent experience') & (original_data['target'] == 1.0)].shape[0]
print(str((total_has_experience_and_want_to_change_jobs/total_has_relevant_experience)*100)+' %' +' of the people who HAS RELEVANT EXPERIENCE want to change their jobs.')

21.468967517401392 % of the people who HAS RELEVANT EXPERIENCE want to change their jobs.

In [29]:
#What is the percentage of people that want to change their jobs and Have NOT relevante experience
total_hasnt_relevant_experience = original_data.loc[original_data['relevent_experience'] == 'No relevent experience'].shape[0]
total_hasnt_experience_and_want_to_change_jobs = original_data.loc[(original_data['relevent_experience'] == 'No relevent experience') & (original_data['target'] == 1.0)].shape[0]
print(str((total_hasnt_experience_and_want_to_change_jobs/total_hasnt_relevant_experience)*100)+' %' +' of the people who HAS NOT RELEVANT EXPERIENCE want to change their jobs.')

33.84271338054417 % of the people who HAS NOT RELEVANT EXPERIENCE want to change their jobs.

In [31]:
#In order to drop missing values only of the parameter being analyzed a subset of the dataset will be created for each analysis
data_enrolled_university = original_data.dropna(subset=['enrolled_university'])
total = data_enrolled_university.shape[0]
data_enrolled_university.shape

(18772, 14)

In [32]:
data_enrolled_university['enrolled_university'].value_counts(dropna=False)

no_enrollment       13817
Full time course     3757
Part time course     1198
Name: enrolled_university, dtype: int64

In [35]:
total_with_no_enrolment = original_data.loc[(data_enrolled_university['enrolled_university'] == 'no_enrollment') & (original_data['target'] == 1.0)].shape[0]
total_in_full_time_course = original_data.loc[(data_enrolled_university['enrolled_university'] == 'Full time course') & (original_data['target'] == 1.0)].shape[0]
total_in_part_time_course = original_data.loc[(data_enrolled_university['enrolled_university'] == 'Part time course') & (original_data['target'] == 1.0)].shape[0]

print(str((total_with_no_enrolment/total)*100)+' %' +' of the people who have no enrolment in university want to change their jobs.')
print(str((total_in_full_time_course/total)*100)+' %' +' of the people who are in a full time course want to change their jobs.')
print(str((total_in_part_time_course/total)*100)+' %' +' of the people who are in a part time course want to change their jobs.')

15.560409119965907 % of the people who have no enrolment in university want to change their jobs.
7.623055614745365 % of the people who are in a full time course want to change their jobs.
1.6087790326017475 % of the people who are in a part time course want to change their jobs.